body{
	border:solid black;
	display: block;
float: left;
height:600px; 
width:900px;
position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
#login{
display: block;
float: left;
background-color: #084B8A;
border:solid black;
position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
#MenuSuperior{
display: block;
float: left;
height:60px; 
width:900px;
background-color: #084B8A;

}
#TancarSessio{
display: block;
float: right;
}
#form{
display: block;
float: left;
border:solid black;
position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}